body {
    text-align: center;
}
 

.alysson {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.linkedin {
    width: 35px;
    height: 35px;
}

.instagram {
    width: 35px;
    height: 35px;
}

.github {
    width: 35px;
    height: 35px;
}

.twitter {
    width: 35px;
    height: 35px;
}

.whatsapp {
    width: 35px;
    height: 35px;
}

