body {
    text-align: center;
}
 
 
.alysson {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.linkedin {
    width: 60px;
    height: 60px;
    padding: 8px;
    border-radius: 50%;
}

.instagram {
    width: 60px;
    height: 60px;
    padding: 8px;
    border-radius: 50%;
}

.github {
    width: 60px;
    height: 60px;
    padding: 8px;
    border-radius: 50%;
}

.twitter {
    width: 60px;
    height: 60px;
    padding: 8px;
    border-radius: 50%;
}
.whatsapp {
    width: 60px;
    height: 60px;
    padding: 8px;
    border-radius: 50%;
}

